nav,
.gradient {
  position: relative;
  text-align: center;
  /* background: linear-gradient(60deg, #075985 0%, #60a5fa 50%); */
  color: white;
}

.backdrop {
  background: linear-gradient(60deg, #075985 0%, #60a5fa 50%);
}

h1,
h1 > span {
  font-size: 25pt;
}
